@tailwind base;
@tailwind components;
@tailwind utilities;

.love{
    color:rgb(199, 116, 130);
    transition: transform 0.3s ease; 
}

.love:hover{
    color: rgb(255, 71, 71);
    transform: scale(1.4);
}

body{
  color: #001F3F;
}

.subheading{
  color: #D9B700;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Bespoke Serif', serif;
    color: #001F3F;
    font-weight: bold;
 }

h1{
  font-size: 48px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 33px;
}

h4{
  font-size: 28px;
}

h5{
  font-size: 23px;
}

h6{
  font-size: 19px;
}

p{
  font-size: 16px;
}

.pr{
  font-size: 13px;
}

.ps{
  font-size: 11px;
}

p, .pr, .ps{
    font-family: 'Montserrat', sans-serif;
 }

.link{
    color: #001F3F;
}

.linkpage{
    text-decoration: none;
    color: #001F3F;
}

.linkyellow{
    color: #D9B700;
}

.link:hover{
    color: #FFD700;
}

.button{
    margin: 8px 0;
    border-radius: 20px;
    border: none;
    color: #001F3F;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Bespoke Serif', serif; 
    letter-spacing: 0.1rem;
    padding: 0.5em 1em;
}

.btn-primary{
    background-color: #FFD697;
    color: hsl(210, 100%, 12%);
}

.btn-primary:hover{
    background-color: #FFD700;
    color: #001F3F;
}

.btn-secondary{
    background-color: #EAEAEA;
}

.btn-secondary:hover{
    background-color: #D2D2D2;
}

.btn-tertiary{
  color: #800020;
  border: solid 2px #800020;
  letter-spacing: 0;
  font-weight: 500;
}

.btn-tertiary:hover{
  color:  #c00232;
  border: solid 2px #c00232
}

.btn-add{
  color: #001F3F;
  border: solid 2px #001F3F;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
}

.btn-add:hover{
  color:  #188802;
  border: solid 2px #188802
}

.btn-remove{
  color: #001F3F;
  border: solid 2px #001F3F;
  font-family: 'Montserrat', sans-serif;
  border-radius: 50%;
  font-size: 3em;
  line-height: 1px;
  height: 30px;
  width: 30px;
  padding: 0px 20px 8px 4px ;
}

.btn-remove:hover{
  color:  #800020;
  border: solid 2px #800020
}

.wedding-primary{
  color: #001F3F;
  background-color: #D5B5BF;
}

.wedding-primary:hover{
  color: #F5F5F5;
  background-color: #800020;
}

span{
    font-weight: bold;
}

input{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px !important;
}

input::placeholder {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 11px !important;
  }

.form-bg{
  background-color: #FFF8D4
}

.quote{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
}

.bilbo-swash-caps-regular {
    font-family: "Bilbo Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
    color: #800020;
    font-size: 23px;
    letter-spacing: 7px;
  }

  .names{
    font-family: "Cinzel", serif;
    font-weight: bold;
    font-size: 36px;
  }

  .clash-display{
    font-family: 'Clash Display', sans-serif;
  }


  /* .inputp{
    background-color: pink
  } */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Bespoke Serif', serif;
font-family: 'Clash Display', sans-serif;
font-family: "Poppins", sans-serif; */  